/* Estilo general */
body {
    font-family: 'Roboto', Times, serif;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(107, 104, 104, 0.2)),
                url('https://hebbkx1anhila5yf.public.blob.vercel-storage.com/fondo.jpg-HcPAJX2I147pvOG4eESJdWJnexEfJ1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 70px; /* Espacio para el encabezado fijo */
    padding-bottom: 50px; /* Espacio para el pie de página fijo */
}

/* Encabezado (Navbar) */
.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #4a73ab; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1050; /* Más alto para estar encima de otros elementos */
    position: fixed; /* Fijar el encabezado */
    top: 0; /* Posición al inicio de la pantalla */
    left: 0;
    width: 100%; /* Abarcar todo el ancho */
    height: 70px; /* Ajustar altura */
    align-items: center; /* Centrar contenido verticalmente */
}
.header .navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 1.2rem;
    width: auto;
}
.header .nav-link {
    color: #000000 !important;
    background-color: #d4b78f;
    transition: color 0.3s ease;
    border-radius: 7px;
    cursor: pointer;
    margin: 10px;
}
.header .nav-link:hover {
    color: #1a1925 !important;
    background-color: #c0965b;
}
.header .btn {
    text-align: center;
    background-color: #d51818;
    color: white;
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.header .btn:hover {
    background-color: #bb1709;
}
.navbar-toggler-icon {
    color: white;
}

/* Pie de página */
.footer {
    height: 35px;
    background-color: #4a73ab; 
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.8rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    /* Usar Flexbox para centrar el contenido vertical y horizontalmente */
    display: flex;
    align-items: center; /* Centra el texto verticalmente */
    justify-content: center; /* Centra el texto horizontalmente */
}


.header .nav-link.logout-button{
    color: #000000 !important;
    background-color: #eb4b4b;
    transition: color 0.3s ease;
    border-radius: 7px;
    cursor: pointer;
    margin: 10px;
}
.header .nav-link.logout-button:hover {
    background-color: #e91a1a;
    color: #ffffff !important;
}

/* Contenedor principal */
.container, .formulario-grande {
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 30px;
}
.container {
    max-width: 90%; /* Ajustado para pantallas más pequeñas */
    width: 400px; /* Ancho fijo para evitar que sea muy grande */
}

/* Botones personalizados */
.button, .logout-button, a.button, .form-button {
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    background-color: #eb56b7;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.button:hover, .logout-button:hover, a.button:hover, .form-button:hover {
    background-color: #cd31be;
}

/* Botón de cierre de sesión */
.logout-button {
    text-align: center;
    background-color: #7c181f;
    color: white;
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.logout-button:hover {
    background-color: #c50c0c;
}

/* Mensajes flash */
#flash-messages .flash {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}
.flash.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.flash.error, .flash.danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
.flash.warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}
.flash.info {
    background-color: #2196F3;
    color: white;
}

/* Tablas */
table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
th, td {

    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
th {
    background-color: #48bcea;
    color: white;
}

/* Formularios */
label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    color: #333;
}
input, select, .submit {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Enlaces */
a {
    text-decoration: none;
    color: #007bff;
}
a:hover {
    color: #0056b3;
}

/* Dashboard */
h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.button-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.card-body {
    text-align: center;
    border: #000000 1px solid;
    border-radius: 5px;
}

.title-container {
    text-align: center;
    margin-bottom: 20px;
}

/* Botón "Actualizar" con color personalizado */
.btn.btn-actualizar {
    background-color: #5e8345fa;
}

/* Botón "Volver al Dashboard" con color personalizado */
.btn.btn-dashboard {
    background-color: #435D75;
}

.btn.btn-actualizar:hover {
    color: #ffffff;
    background-color: #4f802ffa;
}

/* Botón "Volver al Dashboard" con color personalizado */
.btn.btn-dashboard:hover {
    color: #ffffff;
    background-color: #385877;
}
.d-flex {
    gap: 10px; /* Espacio mínimo entre los botones */
}

#userTable th {
    text-align: center;
}

#tutoriasExistentes th{
    text-align: center;
}

.hidden {
    display: none;
}