/* Estilo general */
body {
    font-family: 'Roboto', Times, serif;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(107, 104, 104, 0.2)),
                url('https://hebbkx1anhila5yf.public.blob.vercel-storage.com/fondo.jpg-HcPAJX2I147pvOG4eESJdWJnexEfJ1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 70px; /* Espacio para el encabezado fijo */
    padding-bottom: 50px; /* Espacio para el pie de página fijo */
}

/* Encabezado (Navbar) */
.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #4a73ab;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1050; /* Más alto para estar encima de otros elementos */
    position: fixed; /* Fijar el encabezado */
    top: 0; /* Posición al inicio de la pantalla */
    left: 0;
    width: 100%; /* Abarcar todo el ancho */
    height: 70px; /* Ajustar altura */
    align-items: center; /* Centrar contenido verticalmente */
}
.header .navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 1.2rem;
    width: auto;
}
.header .nav-link {
    color: #000000 !important;
    background-color: #d4b78f;
    transition: color 0.3s ease;
    border-radius: 7px;
    cursor: pointer;
    margin: 10px;
}
.header .nav-link:hover {
    color: #1a1925 !important;
    background-color: #c0965b;
}
.header .btn {
    text-align: center;
    background-color: #d51818;
    color: white;
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.header .btn:hover {
    background-color: #bb1709;
}
.navbar-toggler-icon {
    color: white;
}

/* Pie de página */
.footer {
    height: 35px;
    background-color: #4a73ab;
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.8rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    /* Usar Flexbox para centrar el contenido vertical y horizontalmente */
    display: flex;
    align-items: center; /* Centra el texto verticalmente */
    justify-content: center; /* Centra el texto horizontalmente */
}

/* Estilo para las cajas de texto con iconos */
.input-group {
    position: relative;
    margin-bottom: 20px; /* Aumentamos el margen */
}

.input-group input {
    width: 100%;
    padding: 12px 35px 12px 40px; /* Ajustamos el padding para mayor espacio */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.input-group input:focus {
    background-color: #e9ecef;
    border-color: #007bff;
}

.input-group i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #7a7a7a;
}

/* Estilo para el botón de iniciar sesión */
button {
    width: 100%;
    padding: 12px;
    background-color: #d4b78f; /* Color del botón */
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c0965b !important; /* Hover más oscuro */
    color: #ffffff;
}

/* Mensajes flash */
#flash-messages .flash {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.flash.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.flash.error, .flash.danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.flash.warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}

.flash.info {
    background-color: #2196F3;
    color: white;
}

/* Contenedor principal */
.container {
    
    width: 300px; /* Reducir el tamaño */
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px; /* Ajuste para evitar que el contenedor quede oculto debajo del encabezado fijo */
}

/* Formulario de inicio de sesión */
h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    /* Sobrescribir el max-width de los contenedores de Bootstrap */
    .container, .container-md, .container-sm {
        max-width: 520px; /* Establecer el max-width a 520px */
    }
}