<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <title>Inscripción a Tutoría</title>
</head>
<body>

    <!-- Encabezado -->
    <header class="header">
        <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/logo-santoto-tunja-oct-nov-vXZyGoDPKcNpveZxNW6HpQB4TeVc46.png" alt="Logo Santo Tomás" class="logo">
    </header>
    
    <div class="container">
        <div class="title-container">
            <h1>Inscripción a la Tutoría: {{ tutoria.espacio_academico }}</h1>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div>
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="info-container">
            <h2>Información del Docente</h2>
            <p><strong>Nombre:</strong> {{ docente.nombre_completo }}</p>
            <p><strong>Departamento:</strong> {{ docente_detalles.departamento }}</p>
            <p><strong>Correo:</strong> {{ docente_detalles.correo_institucional }}</p>
        </div>

        <div class="info-container">
            <h2>Horario Asignado</h2>
            <p><strong>Día:</strong> {{ horario.dia }}</p>
            <p><strong>Hora:</strong> {{ horario.hora }}</p>
        </div>

        <form action="{{ url_for('inscribirse_tutoria', tutoria_id=tutoria.id) }}" method="POST" class="form">
            <div class="button-container">
                <button type="submit" class="button">Confirmar Inscripción</button>
            </div>
        </form>

        <div class="button-container">
            <a href="{{ url_for('dashboard') }}" class="button">Volver al Dashboard</a>
            <a href="{{ url_for('tutorias_disponibles') }}" class="button">Volver a tutorias disponibles</a>
        </div>
    </div>
    <!-- Pie de página -->
    <footer class="footer">
        Todos los derechos reservados
    </footer>
</body>
</html>
