<!DOCTYPE html>
<!-- Declara el tipo de documento como HTML5. -->

<html lang="en">
<!-- Inicia el documento HTML con el atributo de lenguaje configurado a inglés. -->
<head>
    <meta charset="UTF-8">
    <!-- Define el juego de caracteres utilizado como UTF-8, que incluye la mayoría de caracteres internacionales. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Configura la vista para dispositivos móviles, ajustando el ancho al tamaño del dispositivo y la escala inicial al 100%. -->
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <!-- Enlaza el archivo de hojas de estilo CSS para aplicar estilos a la página. El archivo se carga desde la carpeta estática del servidor. -->
</head>
<body>
     <!-- Encabezado -->
     <header class="header">
        <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/logo-santoto-tunja-oct-nov-vXZyGoDPKcNpveZxNW6HpQB4TeVc46.png" alt="Logo Santo Tomás" class="logo">
        
    </header>
    <main>
        <!-- Sección principal del contenido de la página. -->
        {% block content %}
        <!-- Bloque de contenido que se reemplazará o extenderá en las plantillas que heredan de esta base. -->
        {% endblock %}
    </main>

    <!-- Pie de página -->
    <footer class="footer">
        Todos los derechos reservados
    </footer>
</body>
</html>
<!-- Fin del documento HTML. -->
