<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <title>Iniciar Sesión</title>
</head>

<body>
    <!-- Encabezado -->
    <header class="header">
        <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/logo-santoto-tunja-oct-nov-vXZyGoDPKcNpveZxNW6HpQB4TeVc46.png" alt="Logo Santo Tomás" class="logo">
    </header>

    <!-- Contenedor de Inicio de Sesión -->
    <div class="container">
        <h1>Iniciar Sesión</h1>
        <div id="flash-messages">
            <!-- Bloque para mostrar los mensajes flash -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div>
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
        </div>
        <form method="post">
            <div class="input-group username">
                <input type="text" name="username" placeholder="Usuario" required>
            </div>
            <div class="input-group password">
                <input type="password" name="password" placeholder="Contraseña" required>
            </div>
            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>

     <!-- Pie de página -->
     <footer class="footer">
        Todos los derechos reservados
    </footer>
</body>
</html>
