{% extends "layoutIn.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
    <!-- Contenedor de Inicio de Sesión -->
    <div class="container">
        <h1>Iniciar Sesión</h1>

        <!-- Bloque de mensajes flash -->
        <div id="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div>
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
        </div>

        <!-- Formulario de inicio de sesión -->
        <form method="post">
            <div class="input-group username">
                <i class="fas fa-user"></i> <!-- Icono de usuario -->
                <input type="text" name="username" placeholder="Usuario" required>
            </div>
            <div class="input-group password">
                <i class="fas fa-lock"></i> <!-- Icono de candado -->
                <input type="password" name="password" placeholder="Contraseña" required>
            </div>
            <button type="submit"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button> <!-- Icono de entrada -->
        </form>
    </div>
{% endblock %}
