<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='tablas.css') }}">
    <title>Administrar Usuarios</title>
</head>
<body>
    <div class="container">
        <div class="title-container">
            <h1>Administrar Usuarios</h1>
        </div>

            <!-- Barra de búsqueda -->
    <div class="search-container">
        <input 
            type="text" 
            id="searchInput" 
            placeholder="Buscar por usuario o rol..." 
            onkeyup="filterUsers()" 
            class="search-box">
    </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div>
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <table id="userTable">
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Rol</th>
                <th>Identificación</th>
                <th>Acciones</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.identificacion }}</td>
                <td>
                    <form method="post" style="display:inline;">
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <button type="submit" name="action" value="delete" class="button delete-button">Eliminar</button>
                    </form>
                    <a href="{{ url_for('edit_user', user_id=user.id) }}" class="button">Editar</a>
                    <a href="{{ url_for('detalle_user', user_id=user.id) }}" class="button">Ver más</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <div class="button-container">
            <a href="{{ url_for('dashboard') }}" class="button">Volver al Dashboard</a>
        </div>
    </div>
</body>

<script>
    function filterUsers() {
        const searchInput = document.getElementById('searchInput').value.toLowerCase();
        const rows = document.querySelectorAll('#userTable tr');
    
        rows.forEach((row, index) => {
            if (index === 0) return; // Saltar la cabecera de la tabla
    
            const username = row.cells[1].textContent.toLowerCase();
            const role = row.cells[2].textContent.toLowerCase();
    
            if (username.includes(searchInput) || role.includes(searchInput)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    }
    </script>
    
</html>