{% extends "layout.html" %}

{% block title %}Perfil del Profesor{% endblock %}

{% block content %}
    <div class="container">
        <div class="title-container">
            <h1>Perfil del Profesor</h1>
        </div>

        <!-- Mensajes flash de éxito o error -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <!-- Mostrando los datos del docente -->
        <div class="box">
            <div class="profile-field">
                <label>Nombre Completo:</label>
                <span class="profile-value">{{ profesor.docente.nombre_completo }}</span>
            </div>

            <div class="profile-field">
                <label>Identificación:</label>
                <span class="profile-value">{{ profesor.docente.identificacion }}</span>
            </div>
        
            <div class="profile-field">
                <label>Departamento:</label>
                <span class="profile-value">{{ profesor.departamento }}</span>
            </div>

            <div class="profile-field">
                <label>Fecha Ingreso:</label>
                <span class="profile-value">{{ profesor.fecha_ingreso }}</span>
            </div>

            <div class="profile-field">
                <label>Correo institucional:</label>
                <span class="profile-value">{{ profesor.correo_institucional }}</span>
            </div>
        </div>

        <!-- Botones -->
        <div class="button-container">
            <a href="{{ url_for('dashboard') }}" class="button">Volver al Dashboard</a>
        </div>
    </div>
{% endblock %}
