<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorías Apartadas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tabla-tutorias.css') }}">
</head>
<body>
    <h1>Tutorías Apartadas</h1>


    {% if tutorias %}
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Espacio Académico</th>
                    <th>Estudiantes Inscritos</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for tutoria in tutorias %}
                    <tr>
                        <td>{{ tutoria.codigo }}</td>
                        <td>{{ tutoria.espacio_academico }}</td>
                        <td>
                            <ul>
                                {% for inscripcion in tutoria.inscripciones %}
                                    <li>{{ inscripcion.estudiante.username}}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td> <a href="" class="btn">Llenar Formulario</a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay tutorías apartadas para este docente.</p>
    {% endif %}

    <a href="{{ url_for('dashboard') }}" class="btn">Volver al Dashboard</a>
</body>
</html>
